############################################################################
##########         修改.gitignore 文件后需要进行以下操作             #######
# git rm -r --cached .                #清除缓存                      #######
# git add .                           #重新trace file                #######
# git commit -m "update .gitignore"   #提交和注释                    #######
# git push origin master              #可选，如果需要同步到remote上的#######
############################################################################

#----------------------------------------Mac global files-----------------------------------
.DS_Store
.DS_Store?
*.swp
._*
.Spotlight-V100
.Trashes

#----------------------------------------Windows--------------------------------------------
Thumbs.db
ehthumbs.db
Desktop.ini
*.dll

